* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #ededed;
    position: relative;
}
.top {
    height: 60px;
    background-color: darkcyan;
}
.center {
    height: calc(100vh - 60px);
}
/* inizia la parte centrale */
/* sfondo parte centrale */
.container-inside {
    height: 100%;
    width: 78%;
    border: 1px solid black;
    background-color: blue;
    margin-top: -25px;
    margin-left: 140px;
}
aside {
    width: 35%;
    height: 100%;
    background-color: yellow;

}
